<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>{{tableName.title()}}</h1>
        <a href="./{{tableName}}/add">Add data</a>
        <table>
            <tr>
                {% for tableHead in tableColumns %}
                <th>{{tableHead[0]}}</th>
                {% endfor %}
            </tr>
            {% for row in tableRows %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr></tr>
        </table>
    </body>
</html>
